<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paso1.css">
    <script src = "/socket.io/socket.io.js"></script>
    <title>Recolección</title>
</head>
<body>
    <div class="titulo">
        <h1>Seleccione configuración</h1>
    </div>
   
    <div class="opciones" style="font-size: 2.2ch;">
        <img src="escritorio.png">
        <h1>Pieza para verificar</h1>
        <br>
        <select id="mesaS">
            <option selected="selected" value="0">Pieza</option>
           <%if(fresa){%> <option value="fresa">Fresadora</option><%}%>
            <%if(torno){%><option value="torno">Torno</option><%}%>
        </select>  
    </div>
    
    <div class="container">
        <a href="/proceso-v">

        <button class="center-button">Avanzar</button><img class="img" src="proximo.png">
        </a>
    </div>
    <script>
        var socket = io()
        let dropListM = document.getElementById('mesaS')
       
        let pS
        dropListM.onchange = (ev)=>{
                pS = dropListM.value
                socket.emit("inicio", pS)
            }

    </script>
</body>
</html>