<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paso3.css"/>
    <title>Revisión</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Control de calidad</h1>
        <div class="image-container">
            <img src="<%=f%>" class="image">
        </div>
        <p class="text-below-image"><%=prueba%></p>
        <div class="text-boxes">
            <div class="text-box">ID: <%=id%></div>
            
        </div>
        <div class="text-container">
            <h2>Resultados de trabajo</h2>
                    <p>•Aceptados: 0</p>
                    <p>•Rechzados: 0</p>
                
        </div>
        <div class="boton">
            <a href="/index">
                <button class="center-button">
                    Regresar
                </button>
            </a>
        </div>
    </div>
</body>
</html>